.features {
    &__nav {
        text-align: center;
        margin: 4rem auto;

        nav {
            padding-bottom: 1rem;
            width: 40rem;
            margin: auto;
            border-bottom: 1px solid #E8EAF6;

            li {
                position: relative;
                color: #7b7e8a;
                list-style: none;
                display: inline;
                font-size: 18px;
                margin-right: 3rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $softRed;
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 4px;
                    left: 0;
                    right: 0;
                    bottom: -32px;
                    background: $softRed;
                    opacity: 0;
                }

                &.active {
                    color: $veryDarkBlue;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__tab {
        display: flex;
        align-items: center;
        margin-bottom: 14rem;

        img {
            flex: 1;
        }

        .tab__desc {
            flex: 1;

            .desc-content {
                padding-left: 6rem;

                h1 {
                    font-size: 2rem;
                    font-weight: 500;
                }

                p {
                    margin-bottom: 3rem;
                }

                .button {
                    color: white;
                    background: $softBlue;
                    padding: 14px 22px;
                    border-radius: 5px;
                }
            }
        }
    }
}