.footer {
    background: $veryDarkBlue;

    &__content {
        width: 85%;
        margin: auto;
        padding: 2rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        @include breakpoint-up(large) {
            text-align: left;
            flex-direction: row;
        }
    }

    &__logo {
        margin-bottom: 1rem;

        @include breakpoint-up(large) {
            margin-bottom: 0;
        }
    }

    &__links {
        margin: 0 0 1rem 0;

        @include breakpoint-up(large) {
            margin: -4px auto 0 4rem;
        }

        a {
            text-transform: uppercase;
            color: white;
            font-size: 0.875rem;
            letter-spacing: 1px;
            transition: all 0.3s ease-in-out;
            display: block;
            padding: 1rem 0;

            @include breakpoint-up(large) {
                display: inline;
                padding: 0;
            }

            &:hover {
                color: $softRed;
            }

            &:not(:first-child) {
                margin-left: auto;

                @include breakpoint-up(large) {
                    margin-left: 32px;
                }
            }
        }
    }

    &__social {
        svg {
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                path {
                    fill: $softRed;
                }
            }
        }

        svg:first-child {
            margin-right: 1.5rem;
        }
    }
}