@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

// Spacing
.container {
    max-width: 67.375rem;
    margin: 0 auto;

    &--pall {
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;

        @include breakpoint-up(large) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--py {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include breakpoint-up(large) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 4.375rem;

        @include breakpoint-up(large) {
            padding-top: 6rem;
        }
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pb {
        padding-bottom: 4.375rem;

        @include breakpoint-up(large) {
            padding-bottom: 6rem;
        }
    }

    &--pl {
        padding-left: 1.5rem;
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-fs {
        align-items: flex-start;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}